<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Email</title>
    </head>
    <body>
        <h1>You're in!</h1>
        <p>Simply the link below into your browser to login to TIKI.</p>
        <a href="{{{link}}}">Go to TIKI</a>
        <p>If the button doesn't work, copy paste this {{{link}}} into your browser.
        <p>If you didn't request this email, there's nothing to worry about &mdash; you can safely ignore it.</p>
        <p>Made by TIKI Inc.</p>
        <p>20 Franklin Street, STE 100 | Worcester, MA 01608 | United States</p>
        <a href="https://mytiki.com">https://mytiki.com</a>
    </body>
</html>